#logo{
  height: 60px;
}
.connexion {
    background: url('../assets/img/bg-connexion.jpg') center;
    background-size: cover;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  height: 50vh;
  min-height: 55vh;
  margin: 0 auto;
  margin-top: 200px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

img.masthead-avatar {
  border-radius: 50%;
}

.bg-primary {
  background:url('../assets/img/bg-presentation.jpg') center;
  background-size: cover;
  background-color:  rgb(44, 62, 80) !important;
}

img.logo-experience {
  border: 1px solid #d9dde1;
  border-radius: 0.5rem;
  margin-bottom: 10px;
}

div.portfolio-item-caption {
  background-color: rgb(44, 62, 80, 0.9) !important;
}

.formulaire_ajout label {
  text-transform: uppercase;
}

.formulaire_ajout input, .formulaire_ajout textarea {
  margin-bottom: 25px;
}

a#btn-ajout-exp{
  color: #212529;
}

a#btn-ajout-exp:hover{
  text-decoration: none;
  color: #1abc9c;
}

.espace-nav {
  margin-top: 150px;
}

#experiences, #contact {
  background: url('../assets/img/bg-experience.jpg') center fixed;
  background-size: cover;
}

.bloc-form {
  background-color: white;
  border: 2px solid #212529;
  border-radius: 10px;
  padding: 30px 50px;
}

#formations {
  background-color: rgb(44, 62, 80);
  background: url('../assets/img/bg-formations.png') center fixed;
  background-size: cover;
}

#formations .divider-custom .divider-custom-line{
  background-color: white;
  border-color: white;
}

#formations .divider-custom .divider-custom-icon{
  color: white !important;
}

#formations h2 {
  color: white !important;
}

#formations .titre-element {
  color: white;
}

#formations .titre-element:hover {
  color: #1abc9c;
  text-decoration: none;
}

.no-data{
  min-height: 400px;
  color: white;
  font-size: large;
  padding-top: 150px;
}

.formation-modal {
  margin-top: 150px;
  min-height: 500px;
}

.footer {
  padding-bottom: 2.5rem !important;
  padding-top: 2.5rem !important;
}




